# Don't attempt to build native modules
ignore-scripts=true
# Don't use optional dependencies
optional=false
# Skip Python requirement for node-gyp
node-gyp=false
# Prefer offline packages
prefer-offline=true
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips