# Don't attempt to build native modules
ignore-scripts=true
# Don't use optional dependencies
optional=false
# Skip Python requirement for node-gyp
node-gyp=false
# Prefer offline packages
prefer-offline=true